anyio==3.5.0
ariadne==0.14.1
attrs==21.4.0
autopep8==1.6.0
bleach==4.1.0
certifi==2021.10.8
charset-normalizer==2.0.12
colorama==0.4.4
docutils==0.18.1
gql-schema-codegen==1.0
graphql-core==3.1.7
graphqlclient==0.2.4
idna==3.3
importlib-metadata==4.11.3
iniconfig==1.1.1
keyring==23.5.0
mypy==0.941
mypy-extensions==0.4.3
packaging==21.3
pkginfo==1.8.2
pluggy==1.0.0
py==1.11.0
pycodestyle==2.8.0
Pygments==2.11.2
pyparsing==3.0.7
pytest==7.1.1
pytest-snapshot==0.8.1
PyYAML==6.0
readme-renderer==34.0
requests==2.27.1
requests-toolbelt==0.9.1
rfc3986==2.0.0
six==1.16.0
sniffio==1.2.0
starlette==0.17.1
toml==0.10.2
tomli==2.0.1
tqdm==4.63.1
twine==3.8.0
typing==3.7.4.3
typing-extensions==4.1.1
urllib3==1.26.9
webencodings==0.5.1
zipp==3.7.0
